.resume{
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 50px;
  text-align: center;
  border-radius: 20px;
  background-color: rgb(130, 186, 80);
}

.form{
  display:flex;
  justify-content: center;
  text-align: left;
  align-items: center;
}

.heading{
  text-align: center;
  padding: 20px 0px 10px 0px;
}
.btn{
  margin: 20px;
  width: fit-content;
}